<template>
  <div class="container">
    <div class="grid grid-cols-2">
      <p>My Checklist Details</p>
      <p>Add New</p>
    </div>
    <div class="grid grid-cols-2">
      <table id="firstTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.checklist_detail_name }}</td>
            <td>
              {{ item.status }}
              <button @click="ChangeStatus">Change</button>
            </td>
            <td>
              <button
                @click="DeleteChecklist"
                style="background: #f44336 ; border-radius: 5%; color: white; width: 100%; padding: 5px"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="add_checklist">
        <div class="flex gap-4">
          <input
            type="text"
            placeholder="new checklist"
            :v-model="newChecklist"
          />
          <button @click="AddChecklist">Add</button>
          <p>{{ newChecklist }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ChecklistDetail",

  data() {
    return {
      items: [
        { id: "1", checklist_detail_name: "makan", status: "belum selesai" },
        { id: "2", checklist_detail_name: "minum", status: "belum selesai" },
        { id: "3", checklist_detail_name: "tidur", status: "belum selesai" },
      ],
      newChecklist: "",
    };
  },

  created() {
    //harusnya pake id
    let data = axios.get(`http://18.139.50.74:8080/item/`);
    console.log(data);
  },

  methods: {
    ChangeStatus() {
      //change status selesai atau belum
      axios
        .update(`http://18.139.50.74:8080/item/${this.items.id}`, this.items)
        .then((Response) => alert(Response))
        .catch((err) => console.log(err));
    },

    DeleteChecklist() {
      if (confirm("Apakah yakin akan menghapus?")) {
        axios
          .delete(`http://18.139.50.74:8080/item/${this.items.id}`, this.items)
          .then((Response) => alert(Response))
          .catch((err) => console.log(err));
      }
    },

    AddChecklist() {
      axios
        .post("http://18.139.50.74:8080/item/", this.newChecklist)
        .then((Response) => {
          alert("berhasil menambah checklist");
          console.log(Response);
        })
        .catch((err) => console.log(err));
    },

    RenameChecklist() {
      //rename checklist detail
      axios
        .post(
          `http://18.139.50.74:8080/item/rename/${this.items.id}`,
          this.newChecklist
        )
        .then((Response) => {
          alert("berhasil menambah checklist");
          console.log(Response);
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss" scoped>
table {
  margin: 20px;
}

th,
td {
  border: solid 1px;
  padding: 10px;
  button {
    border: solid 1px;
    color: blue;
    padding: 3px;
  }
}

.container {
  p {
    font-size: 20px;
    margin: 20px;
    font-weight: bolder;
  }
}

.add_checklist {
  padding: 20px;
  input {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
  }
  button {
    padding: 10px 30px;
    border-radius: 10px;
    background: #4caf50;
  }
}
</style>
