<template>
  <div class="container">
    <div class="grid grid-cols-2">
      <p>My Checklist</p>
      <p>Add New Checklist</p>
    </div>
    <div class="grid grid-cols-2">
      <table id="firstTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Checklist Name</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <td>{{ item.id }}</td>
            <td>
              <router-link
                :to="{ path: '/ChecklistDetail' }"
                replace
                style="text-decoration: underline"
              >
                {{ item.checklist_name }}
              </router-link>
            </td>
            <td>{{ item.status }}</td>
            <td>
              <button
                @click="DeleteChecklist"
                style="background: #f44336 ; border-radius: 5%; color: white; width: 100%; padding: 5px"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="add_checklist">
        <div class="flex gap-4">
          <input
            type="text"
            placeholder="new checklist"
            :v-model="newChecklist"
          />
          <button @click="AddChecklist">Add</button>
          <p>{{ newChecklist }}</p>
        </div>
      </div>
    </div>
    <h1 style="padding-left: 5%; color: #f44336">Select Checklist Name</h1>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  name: "DashboardChecklist",
  computed: {
    ...mapState(["token", "authDataForm"]),
    columns: function columns() {
      if (this.items.length == 0) {
        return [];
      }
      return Object.keys(this.items[0]);
    },
  },

  data() {
    return {
      items: [
        { id: "1", checklist_name: "rumah", status: "belum selesai" },
        { id: "2", checklist_name: "sekolah", status: "belum selesai" },
        { id: "3", checklist_name: "eskul", status: "belum selesai" },
      ],
      newChecklist: "",
    };
  },

  created() {
    // axios.setHeader(
    //   "Authorization",
    //   "eyJhbGciOiJIUzUxMiJ9.eyJyb2xlcyI6W119.i2OVQdxr08dmIqwP7cWOJk5Ye4fySFUqofl-w6FKbm4EwXTStfm0u-sGhDvDVUqNG8Cc7STtUJlawVAP057Jlg"
    // );
    console.log(this.authDataForm);

    let checklist = axios.get("http://18.139.50.74:8080/checklist");
    console.log(checklist);
    // , {
    //   headers: {
    //     Authorization: `eyJhbGciOiJIUzUxMiJ9.eyJyb2xlcyI6W119.i2OVQdxr08dmIqwP7cWOJk5Ye4fySFUqofl-w6FKbm4EwXTStfm0u-sGhDvDVUqNG8Cc7STtUJlawVAP057Jlg`,
    //   },
    // });

    // {
    //   headers: {
    //     Authorization:
    //       "eyJhbGciOiJIUzUxMiJ9.eyJyb2xlcyI6W119.i2OVQdxr08dmIqwP7cWOJk5Ye4fySFUqofl-w6FKbm4EwXTStfm0u-sGhDvDVUqNG8Cc7STtUJlawVAP057Jlg",
    //   },
    // });
  },

  methods: {
    DeleteChecklist() {
      if (confirm("Apakah yakin akan menghapus?")) {
        axios
          .delete(
            `http://18.139.50.74:8080/checklist/${this.items.id}`,
            this.items
          )
          .then((Response) => alert(Response))
          .catch((err) => console.log(err));
      }
    },
    AddChecklist() {
      axios
        .post("http://18.139.50.74:8080/checklist", this.newChecklist)
        .then((Response) => {
          alert("berhasil menambah checklist");
          console.log(Response);
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style lang="scss" scoped>
table {
  margin: 20px;
}

th,
td {
  border: solid 1px;
  padding: 10px;
}

.container {
  p {
    font-size: 20px;
    margin: 20px;
    font-weight: bolder;
  }
}

.add_checklist {
  padding: 20px;
  input {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
  }
  button {
    padding: 10px 30px;
    border-radius: 10px;
    background: #78f07e;
  }
}
</style>
