<template>
  <div id="app">
    <article>
      <div class="container" :class="{ 'sign-up-active': signUp }">
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-left">
              <h2>Welcome Back!</h2>
              <p>Please login with your personal info</p>
              <button class="invert" id="signIn" @click="signUp = !signUp">
                Sign In
              </button>
            </div>
            <div class="overlay-right">
              <h2>Hello, Friend!</h2>
              <p>Please enter your personal details</p>
              <button class="invert" id="signUp" @click="signUp = !signUp">
                Sign Up
              </button>
            </div>
          </div>
        </div>
        <form class="sign-up" action="#">
          <h2>Create login</h2>
          <div>Use your email for registration</div>
          <input
            type="text"
            placeholder="Username"
            v-model="registerForm.username"
          />
          <input
            type="email"
            placeholder="Email"
            v-model="registerForm.email"
          />
          <input
            type="password"
            placeholder="Password"
            v-model="registerForm.password"
          />
          <button @click="register">Sign Up</button>
        </form>
        <form class="sign-in" action="#">
          <h2>Sign In</h2>
          <div>Use your account</div>
          <input
            type="text"
            placeholder="Username"
            v-model="logInForm.username"
          />
          <input
            type="password"
            placeholder="Password"
            v-model="logInForm.password"
          />
          <a href="#">Forgot your password?</a>
          <button @click="login">Sign In</button>
        </form>
        {{ logInForm.username }}
      </div>
    </article>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      signUp: false,
      logInForm: {
        username: "",
        password: "",
      },
      registerForm: {
        email: "",
        password: "",
        username: "",
      },
    };
  },
  methods: {
    login() {
      if (this.logInForm.username === "" && this.logInForm.password !== "") {
        alert("username kosong");
      } else if (
        this.logInForm.username !== "" &&
        this.logInForm.password === ""
      ) {
        alert("password kosong");
      } else if (
        this.logInForm.username === "" &&
        this.logInForm.password === ""
      ) {
        alert("username dan password kosong");
      } else {
        // this.$store
        //   .dispatch("login", this.logInForm)
        //   .then((response) => {
        //     console.log(response);
        //     // alert(response);
        //     this.$router.push({ name: "DashboardChecklist" });
        //   })
        //   .catch((err) => {
        //     alert("wrong username or password");
        //     console.log(err);
        //   });
        // this.$router.push({ name: "DashboardChecklist" });
        //this.$router.push("/Dashboard");
        axios
          .post("http://18.139.50.74:8080/login", this.logInForm)
          .then((Response) => {
            var token = Response.data.data.token;
            console.log(token);
            this.$router.push({ name: "DashboardChecklist" });
          })
          .catch((err) => alert(err));
      }
    },
    register() {
      if (
        this.registerForm.username === "" &&
        this.registerForm.password !== "" &&
        this.registerForm.email !== ""
      ) {
        alert("username kosong");
      } else if (
        this.registerForm.username !== "" &&
        this.registerForm.password === "" &&
        this.registerForm.email !== ""
      ) {
        alert("password kosong");
      } else if (
        this.registerForm.username !== "" &&
        this.registerForm.password !== "" &&
        this.registerForm.email === ""
      ) {
        alert("email kosong");
      } else if (
        this.registerForm.username === "" &&
        this.registerForm.password === "" &&
        this.registerForm.email !== ""
      ) {
        alert("username dan password kosong");
      } else if (
        this.registerForm.username === "" &&
        this.registerForm.password !== "" &&
        this.registerForm.email === ""
      ) {
        alert("username dan email kosong");
      } else if (
        this.registerForm.username !== "" &&
        this.registerForm.password === "" &&
        this.registerForm.email === ""
      ) {
        alert("email dan password kosong");
      } else if (
        this.registerForm.username === "" &&
        this.registerForm.password === "" &&
        this.registerForm.email === ""
      ) {
        alert("username, password, dan email kosong");
      } else {
        axios
          .post("http://18.139.50.74:8080/register", this.registerForm)
          .then((Response) => {
            console.log(Response);
            alert("Register Berhasil");
          })
          .catch((err) => alert(err));
      }
    },
  },
};
</script>

<style lang="scss" scoped>
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#app {
  font-family: Tahoma;
  font-size: 1rem;
  color: #222;
  background-color: #092525;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 768px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #efefef, #ccc);

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
  }

  .overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to bottom right, #7fd625, #009345);
    color: #fff;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  @mixin overlays($property) {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 70px 40px;
    width: 50%;
    height: calc(100% - 50px);
    text-align: center;
    transform: translateX($property);
    transition: transform 0.5s ease-in-out;
  }

  .overlay-left {
    @include overlays(-20%);
  }

  .overlay-right {
    @include overlays(0);
    right: 0;
  }
}

h2 {
  margin: 0;
}

p {
  margin: 20px 0 30px;
}

a {
  color: #222;
  text-decoration: none;
  margin: 15px 0;
  font-size: 1rem;
}

button {
  border-radius: 20px;
  border: 1px solid #009345;
  background-color: #009345;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in;

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

button.invert {
  background-color: transparent;
  border-color: #fff;
}

form {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 90px 60px;
  width: 50%;
  height: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #efefef, #ccc);
  transition: all 0.5s ease-in-out;

  div {
    font-size: 1rem;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    margin: 6px 0;
    width: fit-content;
    border-radius: 15px;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4), 0 -1px 1px #fff,
      0 1px 0 #fff;
    overflow: hidden;

    &:focus {
      outline: none;
      background-color: #fff;
    }
  }
}

.sign-in {
  left: 0;
  z-index: 2;
}

.sign-up {
  width: 50%;
  height: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.sign-up-active {
  .sign-in {
    transform: translateX(100%);
  }

  .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.5s;
  }

  .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    transform: translateX(50%);
  }

  .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    transform: translateX(20%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    z-index: 1;
  }
  49% {
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
}

/* Youtube Link */
#yt_link {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -200px;
  display: block;
  width: 160px;
  text-align: center;
  color: red;
  font-size: 15px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
  animation: showYtLink 1.5s ease 3s forwards;
}

@keyframes showYtLink {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 20px;
  }
}
</style>
